# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.idea
.vscode
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# Firebase Service Account Keys
tourify-2b2aa-firebase-adminsdk-fbsvc-d9c8115dfb.json
firebase-service-account.json
